.barre{
    
    width: 100%;
}
h2{
     margin-left: 5%;
}
.html{
    width: 90%;
    height: 40px;
    margin-left: 5px;
}
.css{
    width: 90%;
    height: 40px;
    margin-left: 5px;
}

.git{
    width: 90%;
    height: 40px;
    margin-left: 5px;
}

.REK{
    width: 70%;
    margin: auto;
    border: 2px solid rgb(251, 251, 251);
    
}